form {
    text-align: center;
    box-sizing: inherit;
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    margin: 0px 0px 0px 500px
    
}
h1 {
    text-align: center;

}


html {
    background-color: burlywood;
}

nav {
    text-align: right;
}

 form input {
     display: block;
     background-position: center;
    

 }